/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Replaces mozilla/toolkit/pinstripe/global/dirListing/dirListing.css to add 
  Camino-like styles for the directory listings (see bug 392755) */

:root {
  background-color: #F2F2F2;
  color: -moz-dialogtext;
  font: message-box;
  padding-left: 2em;
  padding-right: 2em;
}

body {
  border: 2px solid #dadada;
  -moz-border-radius: 15px;
  padding: 3em;
  min-width: 30em;
  max-width: 65em;
  margin: 4em auto;
  background-color: -moz-field;
  color: -moz-fieldtext;
  -moz-box-shadow: -4px 4px 8px rgba(0,0,0,0.12), 4px 4px 8px rgba(0,0,0,0.12);
}

h1 {
  font-size: 160%;
  margin: 0 0 .6em;
  border-bottom: 1px solid ThreeDLightShadow;
  font-weight: normal;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  font-size: 110%;
}

#UI_goUp {
  margin-top: 0;
  float: left;
}

#UI_showHidden {
  margin-top: 0;
  float: right;
}

table {
  clear: both;
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
}

thead {
  font-size: 130%;
}

/* last modified */
th:last-child {
  text-align: center;
}

th:first-child {
  -moz-padding-start: 36px;
}

th:hover > a {
  text-decoration: underline;
}

tbody > tr:nth-child(even) {
  background: -moz-oddtreerow;
}

tbody > tr:hover {
  background-color: -moz-mac-secondaryhighlight;
  color: inherit;
  border: none;
}

td {
  padding: 2px;
}

td:first-child {
  -moz-padding-start: 16px;
}

td:last-child {
  -moz-padding-end: 16px;
}

/* let 'Size' and 'Last Modified' take only as much space as they need and 'Name' all the rest */
td:not(:first-child) {
  width: 0;
}

.up {
  padding: 0 .5em;
  -moz-margin-start: 20px;
}

.up::before {
  -moz-margin-end: 4px;
  -moz-margin-start: -20px;
  vertical-align: middle;
  content: url(chrome://global/skin/dirListing/up.png);
}

.dir::before {
  padding-top: 4px; /* visually center the image on the base line of the text */
  content: url(chrome://global/skin/dirListing/folder.png);
}

/* nsIndexedToHTML.cpp fails to include styles for .symlink::before to match
 * styles for .dir::before and .file::before
 */
.symlink::before {
  -moz-margin-end: 4px;
  -moz-margin-start: -20px;
  padding-top: 2px; /* visually center the image on the base line of the text */
  vertical-align: middle;
  content: url(chrome://global/skin/dirListing/symlink.png);
}

.file > img {
  vertical-align: bottom; /* visually center the image on the base line of the text */
}
